/* DEFAULT STYLE FOR OVERALL PAGE */
* { 
    padding: 0;
    text-decoration: none;
    color: inherit; 
}

body{
    background: linear-gradient(90deg, #e6e6ff 0%, #ffe6ff 100%);
    /* margin: 80px 25px 0px; */
    max-width: 800px;
    margin: 70px auto 20px;
    padding: 0 20px;
}










/* DEFAULT TEXT FORMATTING */

p { font-family: 'Open Sans', sans-serif; }

h1 { font-family: Playfair Display, serif; }

td, h2, .github-projects > a{
    font-family: JetBrains Mono, monospace;
    /* font-size: 20px; */
}

img, iframe {
    border-radius: 15px;
    width: 100%;
    height: 200px;
}
.yt-flex {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.no-radius {
    border-radius: 0;
}


table, td {
    padding: 10px 0;
    vertical-align: top;
}

.body-contacts {
    margin: 30em 10%;
    text-align: center;
}











/* HEADER DESIGN */
header {
    /* HEADER DESIGN DO NOT CHANGE */
    color: whitesmoke;
    background: linear-gradient(90deg, #000064aa 0%, #640064aa 100%);
    backdrop-filter: blur(20px);

    position: fixed;
    top: 0; left: 0;
    width: calc(100%);
    white-space: nowrap;
    z-index: 1000;
    /* padding: 10px 25px 16px; */
}
.header-margining {
    margin: 0 auto;
    /* display: flex; */
    max-width: 800px;
    padding: 5px 20px 10px;
    /* justify-content: space-between;  */
}
header .logo-n-menubutton {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: end;
}
header .material-symbols-outlined {
    line-height: 1.6;
    cursor: pointer;
    padding: 0; margin: 0;
    font-size: 20px;
}
header a{
    font-family: Playfair Display, serif;
    font-size: 25px;
}


nav {
    /* ANIMATION */
    overflow: hidden;
    height: 0;
    transition: max-height;
}
nav a {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 10px 0px;
    margin: 5px 2px;
    border: 1px solid grey;
    border-radius: 15px;
    transition: 0.4s;
}
.nav-margintop{ margin-top: 20px; }
.nav-marginbottom{ margin-bottom: 10px; }

.creative::after{ content: 'Creative Portfolio'; }
.technical::after{ content: 'Technical Portfolio'; }
.awards::after{ content: 'Experiences & Awards'; }


















/* TECHNICAL PORTFOLIO STYLE */

.tech-container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
.tech-container img{
    border-radius: 0;
    height: 320px;
    object-fit: cover;
    margin: 0;
    display: block;
}
.gradient-over {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 320px;
    z-index: 3;
    color: whitesmoke;
    margin: 0;
    background: linear-gradient(5deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.66) 20%, rgba(0,0,0,0.33) 40%, rgba(0,0,0,0) 60%);
    display: flex; 
    flex-direction: column-reverse;
}
.tech-container h2, .tech-container p {
    padding: 0 25px;
}
.tech-container p {
    padding-bottom: 25px;
}

.tech-gridConfig {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.tech-h1-flex {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}





















/* min-width: what happen if screen exceeds px value */
@media only screen and (min-width: 600px) {
    .tech-h1-flex {
        display: unset;
        justify-content: unset; 
        align-items: unset;
    }
    .yt-flex { grid-template-columns: 1fr 1fr; }
}


@media only screen and (min-width: 740px) {
    header { 
        display: flex;
        justify-content: space-between; 
    }
    header .material-symbols-outlined { display: none; }
    nav {
        overflow: visible;
        height: auto;
        transition: none;
    }
    nav a {
        display: inline-block;
        padding: 3px 8px;
        margin-bottom: 0;
        font-size: 12px;
    }
    .nav-margintop{ margin-top: 11px; }
    .nav-marginbottom{ margin-bottom: 0px; }
    nav a:hover{ background-color: #640064; }
    nav a:active { box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24); }
    .creative::after{ content: 'Creative'; }
    .technical::after{ content: 'Technical'; }
    .awards::after{ content: 'Experiences'; }






    .about-blog-tech {
        display: flex;
        justify-content: space-evenly;
    }
    .marginright-technical { margin-right: 20px; }
    .marginright-awards { margin-right: 5%; }



    .body-contacts {
        margin: 20% 25% 0;
        text-align: center;
    }
    
}







@media only screen and (min-width: 900px) {
    .creative::after{ content: 'Creative Portfolio'; }
    .technical::after{ content: 'Technical Portfolio'; }
    .awards::after{ content: 'Experiences & Awards'; }

    .about-blog {
        display: flex;
        justify-content: space-between;
    }
    .marginright { margin-right: 5%; }

    .tech-gridConfig {
        grid-template-columns: 1fr 1fr;
    }
}
















/* FOOTER DESIGN */
footer {
    padding: 5px;
    margin-top: 20px;
    background: linear-gradient(90deg, #000064 0%, #640064 100%);
    color: whitesmoke;
    text-align: center;
    left: 0;
    width: calc(100% - 10px);
    
    position: absolute;
    bottom: auto;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
}
.always-sticky-footer > footer {
    position: fixed;
    bottom: 0;
}


@media only screen and (min-width: 1024px) {
    .sticky-footer > footer {
        position: fixed;
        bottom: 0;
    }
}











/* MY-BUTTON DESIGN */

my-button {
    display: inline-block;
    background-color: #ff00ff;
    color: whitesmoke;
    transition-duration: .4s;
    padding: 6px 20px 10px;
    margin-top: 10px;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 5px;
    user-select: none;
}
my-button:hover { 
    /* background-color: #640064;  */
    background-color: rgba(100, 0, 100, 1);
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 #0000003d;
    
}
my-button:active { 
    box-shadow: 0 0px 0px 0 #0000003d;
    transform: translateY(3px);
    transition-duration: .2s;
}


















label {
    font-family: JetBrains Mono, monospace;
    font-size: 20px;
    padding-right: 5px;
    cursor: pointer;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 24;
    font-size: 10px;
    position: relative;
}
.non-filled {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
.fa-brands, .fa-solid {
    font-size: 20px;
    margin-right: 6px;
}















/* PRESET & IMAGE DESIGN */
#image1{
    height: 80%;
    margin-left: 50%;
    margin-top: 10%;
    position: absolute;
    /* white-space: nowrap; */
}
.image3{
    /* margin: 10px 0; */
    /* max-width: 100%; */
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24);
    border: 1px solid grey;
    max-width: 400px;
    height: 400px; 
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
#image4 {
    width: 250px;
    filter: invert();
}
#image5 {
    margin-top: 20px;
    width: 300px;
    height: 500px;
    object-fit: cover;
}














.about-blog p{
    padding-bottom: 10px;
    text-align: justify;
}





/* FROM ABOUT PAGE */
table img {
    height: 50px;
    margin-right: 20px;
    /* overriding from preset above */
    width: auto;
    border-radius: 0;
}
table .material-symbols-outlined{
    color: #640064;
    font-size: 25px;
}
table .filled {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}





.github-projects {
    border: 3px solid #000064;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 14px 17px;
}
.github-projects img {
    height: 180px; object-fit: cover;
}
.no-crop img {
    height: auto; object-fit: unset;
}

.index-button-padding{
    padding: 10px 0;
}

.smaller{
    padding-top: 1px;
    font-size: 10px;
}




/*THAT'S ALL FOR TONIGHT BYEEEEEEEEE; 17/11/2023*/




h3 {
    padding: 3px 10px;
    margin-top: 1px;
    border-radius: 20px;
    background-color: #640064;
    color: whitesmoke;
    font-size: 16px;
    text-align: right;
    font-family: JetBrains Mono, monospace;
}
table.exp p {
    padding-left: 7px;
}

table.edu h3 {
    background-color: #000064;
    text-align: left;
    display: inline-block;
}
table.edu p{
    padding: 0 9px;
}






.no-justify p {
    text-align: initial;
}



/* I'M DONE ROUGHLY ON ALL PAGES. STOP FOR NOW UNTIL NEED TO CLEAN IT UP ABIT.
17/11/2023 5:21PM */





