/* ROOT VARIABLE */
:root {
    --dark-gradient: linear-gradient(90deg, #000064 0%, #640064 100%);
    --dark-gradient-trnsprnt: linear-gradient(90deg, #000064dd 0%, #640064dd 100%);
    --light-gradient: linear-gradient(90deg, #e6e6ff 0%, #ffe6ff 100%);
    --gradient-overlay: linear-gradient(5deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.66) 20%, rgba(0,0,0,0.33) 40%, rgba(0,0,0,0) 60%);
    --shadow: 0px 2px 8px 0px #000000aa;
    --set-margin: 0 auto;
    --set-margin-top: 80px;
    --set-padding: 0 20px;
    --round-corners: 15px;
    --device-width: 1024px;
    --border-typ: 1px solid grey;
}


/* DEFAULT STYLE FOR OVERALL PAGE */
* { 
    padding: 0;
    color: inherit; 
    text-decoration: none;
}

body { 
    margin: 0; 
    background: var(--light-gradient);
}

.body-index {
    background: var(--dark-gradient);
    color: whitesmoke;
}

main {
    max-width: var(--device-width);
    margin: var(--set-margin);
    margin-top: var(--set-margin-top);
    margin-bottom: calc(var(--set-margin-top) / 2);
    padding: var(--set-padding);
}
.main-index {
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
}

.compass {
    position: fixed;
    z-index: -1;
    top: -1400px;
    left: -600px;
    opacity: .2;
    animation: compassSpin 100s linear infinite;
}














/* SPESIFIC ABOUT PAGE */
.main-about {
    display: flex;
}
.main-about div {
    margin: 0 10px;
}
.about-image{
    border-radius: var(--round-corners);
    box-shadow: var(--shadow);
    border: var(--border-typ);

    width: 100%;
    max-width: 400px;
    height: 300px; 
    object-fit: cover;
    
    display: block;
    margin: var(--set-margin);
}














/* DEFAULT TEXT FORMATTING */

p { font-family: 'Open Sans', sans-serif; }

h1 { font-family: Playfair Display, serif; }

td, h2{
    font-family: JetBrains Mono, monospace;
    font-size: 18px;
}

h6 {
    margin: 0;
    font-size: 35px;
    font-family: Playfair Display;
}
h6::after {
    content: "AIZI IZZUDIN";
}


iframe {
    border-radius: var(--round-corners);
    width: 100%;
    height: 200px;
}






.tech-gridConfig, .yt-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

table, td {
    padding: 10px 0;
    vertical-align: top;
}

.body-contacts {
    background: var(--light-gradient);
    text-align: center;
}
.body-contacts button {
    margin-bottom: 10px;
}

.main-contacts {
    margin: 0; padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main-contacts button { margin-bottom: 10px; }



























/* TECHNICAL PORTFOLIO STYLE */

.tech-container {
    position: relative;
    border-radius: var(--round-corners);
    overflow: hidden;
    cursor: pointer;
}
.tech-container img{
    height: 320px;
    width: 100%;
    object-fit: cover;
    display: block;
}
.gradient-over {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 320px;
    z-index: 3;
    color: whitesmoke;
    margin: 0;
    background: var(--gradient-overlay);
    display: flex; 
    flex-direction: column-reverse;
}
.tech-container h2, .tech-container p {
    margin: 0;
    padding: 0 25px;
}
.tech-container p {
    padding-bottom: 25px;
}


.tech-h1-flex {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}



















/* FOOTER DESIGN */
footer {
    padding: 5px;
    /* margin-top: 20px; */
    background: var(--dark-gradient);
    color: whitesmoke;
    text-align: center;
    left: 0;
    width: calc(100% - 10px);
    
    position: absolute;
    bottom: auto;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
}
.sticky-footer > footer {
    position: fixed;
    bottom: 0;
}


























/* BUTTON SEMANTIC TAG DESIGN */

button {
    background: #ff00ff;
    color: whitesmoke;
    border: unset;
    padding: 8px 18px;
    border-radius: calc(var(--round-corners) * 2);
    cursor: pointer;
    transition-duration: 0.3s;

    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;

    white-space: wrap;
    text-align: left;
}
button .material-symbols-outlined {
    font-size: 19px;
    position: relative;
    bottom: -2px;
}
button:hover {
    box-shadow: var(--shadow);
    border-radius: calc(var(--round-corners) / 2);
    background: #640064;
}
button:active {
    box-shadow: 0px 0px 0px 0px #000000aa;
    transform: translateY(3px);
}

/* BUTTON SEMANTIC DESIGN SPECIAL FOR CONTACTS PAGE */














label {
    font-family: JetBrains Mono, monospace;
    font-size: 20px;
    padding-right: 5px;
    cursor: pointer;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 24;
    font-size: 10px;
    position: relative;
}
.non-filled {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}















/* PRESET & IMAGE DESIGN */

.image4 {
    border-radius: var(--round-corners);
    width: 250px;
    height: auto;
    filter: invert();
    display: block;
    margin: var(--set-margin);
}
#image5 {
    border-radius: var(--round-corners);
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}














.about-blog p{
    padding-bottom: 10px;
    /* text-align: justify; */
}





/* FROM ABOUT PAGE */
table img {
    height: 50px;
    margin-right: 20px;
    /* overriding from preset above */
    width: auto;
    border-radius: 0;
}
table .material-symbols-outlined{
    /* the star rating */
    color: #640064;
    font-size: 25px;
}
table .filled {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}





.github-projects {
    border: 3px solid #000064;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 14px 17px;
}
.github-projects img {
    height: 180px; object-fit: cover;
}
.no-crop img {
    height: auto; object-fit: unset;
}

.smaller{
    padding-top: 1px;
    font-size: 10px;
}








h3 {
    padding: 3px 10px;
    margin: 0;
    border-radius: 20px;
    background: #640064;
    color: whitesmoke;
    font-size: 16px;
    text-align: right;
    font-family: JetBrains Mono, monospace;
}
table.exp p {
    padding-left: 7px;
    margin: 0;
}

table.edu h3 {
    background: #000064;
    text-align: left;
    display: inline-block;
}
table.edu p{
    padding: 0 9px;
    margin: 0;
    text-align: initial;
}
























/* HEADER DESIGN */
header {
    /* HEADER POSITIONING ON CANVAS DO NOT CHANGE */
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 1000;
    
    /* HEADER DESIGN COLORS DO NOT CHANGE */
    color: whitesmoke;
    background: var(--dark-gradient-trnsprnt);
    backdrop-filter: blur(7px);
    white-space: nowrap;

    padding-bottom: 7px;
}

header .header-max-width {
    max-width: var(--device-width);

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: var(--set-margin);
    padding: var(--set-padding);
    
    white-space: normal;
    
    text-align: end;
}

nav a {
    display: inline-block;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    
    padding: 4px 10px; 
    margin: 2.5px 0px;
    
    border: 1px solid grey;
    border-radius: 20px;
    
    position: relative;
    bottom: -2px;
}


















@media only screen and (max-width: 760px) {
    
    
    
    
    
    h6::after {
        content: ".I.";
    }
    
    
    
    .main-about {
        display: block;
    }
    
    
    
    .index-contents { margin-top: 80px; }
    .index-contents h1, .index-contents p { 
        margin: 0; 
        text-align: center;
    }
    .index-contents button { 
        position: relative;
        z-index: 3;
        margin-top: 240px;
        margin: 240px 20px 0; 
    }
    
    
    
    .tech-h1-flex {
        display: unset;
        justify-content: unset; 
        align-items: unset;
    }
    
}















@media only screen and (max-width: 560px) {
    


    .main-index {
        margin-top: 100px;
    }
    

    
    .tech-gridConfig, .yt-flex { grid-template-columns: 1fr; }
    
    .main-index {
        display: block;
    }
    .main-index h1, .main-index p {
        margin: 0;
        text-align: center;
    }
    .main-index button {
        position: relative;
        z-index: 3;
        margin-top: 260px;
    }
    .main-index img {
        position: fixed;
        bottom: -40px;
        right: -90px;
    }

}




@keyframes compassSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}